

$dark-purple:#731D6D;
$accent-purple:#A6299D;
$medium-accent-purple:#A62690;
$elipse-bg:rgba(166, 38, 144, 0.5);
$light-elipse-bg:rgba(166, 41, 157, 0.3);
$diamond-shape-bg:#70075F;
$light-white:#FFFFFF;
$team-card-bg:linear-gradient(185.48deg, rgba(255, 255, 255, 0.71) 1.66%, rgba(255, 255, 255, 0) 55.82%), rgba(166, 41, 157, 0.9);


// Fonts

$primary-color-font:#595959;
$secondary-color-font:#F2F2F2;