

$main-font:'El Messiri', sans-serif;

// FONT VARIANT
$bold-weight:700;
$semi-bold-weight:600;
$medium-weight:500;
$regular-weight:400;



// FONT SIZES
$xxlarge-font:4.5rem;
$xlarge-font:3rem;
$large-font:2.1rem;
$medium-font:1.5rem;
$small-font:1.1rem;
$xsmall-font:1rem;
$xxsmall-font:0.8rem;


$line-height-font:1.6;
$spacing-letter:2px;





